.footer {
  justify-content: center;
  text-align: center;
  flex: 0 0 auto;
}

.copyright {
  margin: 0px;
}

.icon {
  height: 25px;
  margin: 0px 3px;
}

.icon:hover {
  transform: rotateY(360deg);
  transition: 1.5s ease-in-out;
}
* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex: 1 0 auto;
}

#root,
body,
html {
  height: 100%;
}
